.notfound{
  position: fixed;
  background: #fff;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("https://thumbs.dreamstime.com/z/group-high-school-students-running-out-buildings-towards-camera-end-class-134207208.jpg");
}